<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Techie Hub</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3">
        <div class="input-group">
          <%= form_tag search_path, method: :get do %>
		<%= text_field_tag :q, params[:q], class: "form-control" %>
         <%= submit_tag "Go", name: nil %>
		<!--<div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>-->
        <%end%>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <% if logged_in? %>
      <li><%= link_to "Create a New Article", new_article_path, class: "new_article" %></li>
      <li><a href="#"> Welcome <%="#{current_user.email}"%></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign Out", logout_path %></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Sign In", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
      <%end%>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
