<!DOCTYPE html>
<html>
  <head>
    <title>TechieHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">
    <div id="content">
      <%= render 'shared/header' %>
      <%= render 'shared/alerts' %>
      <div class="container">
        <div class="row">
          <div id="example" class="selectivity-input example-input" tabindex="0"><div class="selectivity-multiple-input-container"><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" class="selectivity-multiple-input" size="23" placeholder="Type to search a city"><div class="selectivity-clearfix"></div></div></div>
          <div class="col-md-8">
      <%= yield %>
            </div>
          <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          <%= render 'shared/sidebar' %>
        </div>
        </div>
      <%#= render 'shared/footer' %>
      <hr>

    </div>
  </div>
  </body>

</html>
